<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323283629288-9m7scgr5s6qvhis9sl4g23hmduqvahru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323283629288-9m7scgr5s6qvhis9sl4g23hmduqvahru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323283629288-4gi9cl4a18cqt8q1i0cjuqfc10foao0j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxtRIq5lQrGiKSNzDo4hkyZQiz4CkLnxk</string>
	<key>GCM_SENDER_ID</key>
	<string>323283629288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-c1751</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-c1751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323283629288:ios:bc1b49ad0ef4e38495c55d</string>
</dict>
</plist>